@import '../../Styles/variables.scss';

.mobile-break {
    display: none;
    @media (max-width: 730px){
        display: flex;
      }
}
.banner {
    position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
   &__img {
    margin-top: 20px;
    width: 100%;
    height: 120px;
	object-fit: cover;
    border-radius: 0.600rem;
   }
   &__title {
    z-index: 1;
	position: absolute;
    margin: 0;
    top: 40%;
    left: 30%;
    color: $secondary-color;
    font-size: 30px;
    @media (max-width: 730px){
        font-size: 25px;
        left: 10%;
      }
     }
}